/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Media Queries */


/* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {
  }


/* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {

/* general */
#days-wrapper {
left: 80px;
bottom: 66px;
}

#intro-title {
font-size: 125px;
margin: 4px 0 7px -4px;
}

/* layout */
.content-inner {
margin: 0;
padding: 0;
}

  }


/* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
  }


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {

/* general */
#days-wrapper {
left: 20px;
bottom: 57px;
}

.introduction div {
font-size: 20px;
}

#intro-title {
font-size: 70px;
line-height: 70px;
margin: 2px 0 2px -2px;
}

h1 {
font-size: 45px;
line-height: 45px;
padding: 0 0 40px 0;
margin-top: -5px;
}

/* layout */
.content p {
padding: 0 0 10px 0;
}

.content-inner {
margin: 0;
padding: 20px 0 0 10px;
}

/* borders */
.borders {
display: none;
visibility: hidden;
}

/* countdown */
#countdown-wrapper {
display: none;
visibility: hidden;
}

ul#countdown li {
width: 60px;
text-align: left;
}

ul#countdown li span {
font-size: 35px;
}

ul#countdown li p.timeRefDays,
ul#countdown li p.timeRefHours,
ul#countdown li p.timeRefMinutes,
ul#countdown li p.timeRefSeconds {
font-size: 18px;
}

  }


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {

/* general */
#days-wrapper {
left: 20px;
bottom: 73px;
}

.introduction div {
font-size: 20px;
}

#intro-title {
font-size: 70px;
line-height: 70px;
margin: 2px 0 6px -2px;
}

h1 {
font-size: 45px;
line-height: 45px;
padding: 0 0 40px 0;
margin-top: -5px;
}

/* layout */
.content p {
padding: 0 0 10px 0;
}

.content-inner {
margin: 0;
padding: 20px 0 0 10px;
}

/* borders */
.borders {
display: none;
visibility: hidden;
}

/* countdown */
#countdown-wrapper {
left: 0;
}

ul#countdown li {
width: 60px;
text-align: left;
}

ul#countdown li span {
font-size: 35px;
}

ul#countdown li p.timeRefDays,
ul#countdown li p.timeRefHours,
ul#countdown li p.timeRefMinutes,
ul#countdown li p.timeRefSeconds {
font-size: 19px;
margin: -6px 0 0 0;
}

  }