body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ff0000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 600px;
}

h1 {
    font-size: 4em;
    margin: 0;
}

h1 span {
    font-style: italic;
}

.coming-soon {
    font-size: 2em;
    margin: 20px 0;
}

.description {
    margin-bottom: 40px;
}

#countdown {
    display: flex;
    justify-content: space-around;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time span {
    font-size: 2.5em;
    font-weight: bold;
}

.label {
    margin-top: 5px;
    font-size: 1em;
}
